{% extends "app_pomodoro/menu.html" %} {% block content %}
{% load static %}
{% load widget_tweaks %}


<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'app_pomodoro/css/home.css' %}">
</head>
<body>


  <div class="main">
      <div class="mode-switch">
      <button id="study-btn" class="mode-btn ">📘 Estudo</button>
      <button id="break-btn" class="mode-btn ">😌 Descanso</button>
      </div>
  </div>


<br> <br>


<div>
  <div id="timer">25:00</div>
  <br>
</div>




<div class="controls">
  <button id="reset-btn" onclick="resetTimer()">🔄</button>
  <button id="main-btn" onclick="toggleTimer()">▶️</button>
</div>


<br> <br>


<div class="button-breaks">
<button id="break-5-btn" onclick="startBreak(5)">Descanso 5 min</button>
<button id="break-15-btn" onclick="startBreak(15)">Descanso 15 min</button>
</div>




<br><br>
<a href="{% url 'registro_ciclo' %}">
    <button type="button">Registrar Ciclo</button>
</a>



<h2>Lista de ciclos</h2>
<ul>
    {% for c in ciclos %}
        <li>Matéria: {{ c.id_materia.nome_materia }} | Sessões: {{ c.qntd_sessoes }}</li>
    {% empty %}
        <li>Nenhum ciclo registrado ainda.</li>
    {% endfor %}
</ul>




<script src="{% static 'app_pomodoro/js/home.js' %}"></script>
{% endblock %}


</body>
</html>