<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% if ciclo %}Editar{% else %}Criar{% endif %} Ciclo</title>
</head>
<body>
    <h1>{% if ciclo %}Editar{% else %}Criar{% endif %} Ciclo</h1>

    <form method="post">
        {% csrf_token %}
        <label for="nome_materia">Materia:</label>
        <input type="text" id="nome_materia" name="nome_materia" value="{{ materia.nome_materia|default:'' }}"><br><br>

        <button type="submit">Salvar</button>
    </form>

    <h2>Lista de ciclos</h2>
<ul>
    {% for c in ciclos %}
        <li>Matéria: {{ c.id_materia.nome_materia }} | Sessões: {{ c.qntd_sessoes }}</li>
    {% empty %}
        <li>Nenhum ciclo registrado ainda.</li>
    {% endfor %}
</ul>


    <br>
    <a href="{% url 'home_integrado' %}">Voltar para home</a>
</body>
</html>
